spring:
  application:
    name: quan_ly_ban_hang
  datasource:
    url: jdbc:mysql://localhost:3306/quan_ly_ban_hang?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
      database-platform: org.hibernate.dialect.MySQL8Dialect
server:
  port: 9999
  servlet:
    context-path: "/api/v1"
jwt:
  signerKey: "3fa2b6e78c14f0a19d45d9f6c73e2a58a7b6c12d4f83a9e0e7c93f5b8c6d10a4"
  token-duration: "10"  # In seconds
  refresh-token-duration: "60"  # In seconds